<button (click)="toggleShowModal($event)" class="btn btn-success mb-3">Add Recipe</button>
<ul class="list-group list-group-flush rounded bg-light">
    <li *ngFor="let recipe of recipes;let i = index" class="recipe-item list-group-item mb-2 text-light cursor-pointer default-transition p-0 bg-transparent" (click)="onRecipeSelect(recipe)">
        <!-- <a href="#"> -->
        <app-recipe-item [index]="i" [recipe]="recipe"
        class="bg-image d-flex p-3 rounded justify-content-between position-relative overflow-hidden"
        (recipeDeleted)="onRecipeDeleted($event)"></app-recipe-item>
        <!-- </a> -->
    </li>
</ul>

<app-add-recipe (recipeCreated)="onRecipeAdded($event)" (recipeModalClosed)="toggleShowModal()" *ngIf="isRecipeModalShown"></app-add-recipe>