<nav class="navbar navbar-expand-lg navbar-light ps-5 pe-5 shadow-sm rounded-bottom">
    <a class="navbar-brand fs-2">
        <span class="text-primary fw-bold">LG</span>
        {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-auto" id="navbarNav">
        <ul class="controles navbar-nav nav navbar-right">
            <li class="nav-item"><a class="nav-link">some</a></li>
            <li class="nav-item"><a class="nav-link">thing</a></li>
            <li class="nav-item"><a class="nav-link">else</a></li>
        </ul>
    </div>
</nav>